<li class="list-group-item", id="comment-<%= comment.id %>">
  <h6>
    <%= link_to get_full_name_for(comment.user), comment.user %>
  </h6>
  <div class="d-flex">
    <small class="text-muted mb-2 d-block">
      commented <%= time_ago_in_words comment.created_at %> ago
    </small>
    <% if comment.user == current_user %>
      <small class="d-block ml-auto">
        <%= render "comments/destroy_link", resource: comment %>
      </small>
    <% end %>
  </div>
  <p>
  <%= comment.content %>
  </p>
</li>
