<li class="list-item mb-3 d-flex justify-content-between align-items-center">
  <%= gravatar_for user %>
  <%= link_to get_full_name_for(user), user %>
  <div class="friend_request-links">
    <% if current_user.friends.include?(user) %>
      <%= render "friendships/destroy_form", resource: user %>
    <% else %>
      <% if @request = current_user.friend_requests_sent.pending.find_by(receiver: user) %>
        <%= render 'friend_requests/cancel_link', resource: @request %>
      <% elsif @request = current_user.friend_requests_received.pending.find_by(sender: user) %>
        <div class="half-width">
          <%= render 'friend_requests/accept_link', resource: @request %>
          <%= render 'friend_requests/decline_link', resource: @request %>
        </div>
      <% else %>
        <%= render "friend_requests/send_form", resource: user %>
      <% end %>
    <% end %>
  </div>
</li>
