<div class="row justify-content-center">
  <div class="col-md-6">
    <% if @user.friend_requests_received.pending.any?  %>
      <h2>New friend requests</h2>
      <ul class="list-unstyled">
        <% @user.friend_requests_received.pending.each do |request| %>
          <li class="list-item mb-3 d-flex justify-content-between align-items-center">
            <div>
              <span class="mr-3"><%= gravatar_for request.sender %></span>
              <%= link_to get_full_name_for(request.sender), request.sender %>
            </div>
            <div>
              <%= link_to "Accept", friend_request_accept_path(request), method: :post, class: 'btn btn-primary' %>
              <%= link_to "Decline", friend_request_decline_path(request), method: :post, class: 'btn btn-alert' %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @user.friends.any?  %>
      <h2>Your friends</h2>
      <ul class="list-unstyled">
        <% @user.friends.each do |friend| %>
          <li class="list-item mb-3 d-flex justify-content-between align-items-center">
            <span class="mr-3"><%= gravatar_for friend %></span>
            <%= link_to get_full_name_for(friend), friend %>
            <%= link_to "Remove", friendship_path(user_id: friend.id), method: :delete %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
