<% if @user.friend_requests_received.pending.any?  %>
  <h2>New friend requests</h2>
  <ul>
  <% @user.friend_requests_received.pending.each do |request| %>
    <li>
      <%= get_full_name_for(request.sender) %>
      <%= form_for :request do |f| %>
        <%= f.hidden_field :status, value: 1 %>
        <%= f.submit "Accept" %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<% @user.friends.each do |friend| %>
  <p><%= get_full_name_for(friend) %></p>
<% end %>
