<div class="row">
  <div class="col-md-9 mx-auto d-flex align-items-end mb-5 pt-5 pb-2",
       style="background-image:url(<%= @user.cover_photo.url%>);background-color:black;">
    <%= profile_photo_for(@user, options: { size: 150, circle: true }) %>
    <div class="ml-3" style="color:white;">
      <h3><%= get_full_name_for(@user) %></h3>
      <%= link_to "Update your profile", me_edit_path %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 ml-auto">
    <% if @user.friends.any? %>
      <%= link_to user_friends_path(current_user) do %>
        <h5>Friends(<%= @user.friends.count %>)</h5>
      <% end %>
      <div class="d-flex flex-wrap">
        <% @user.friends.take(20).each do |friend| %>
          <%= link_to friend, class: "m-1" do %>
            <%= profile_photo_for(friend, options: { size: 50 }) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-md-6 mr-auto">
      <div class="new-post mb-3">
        <%= render 'posts/form' %>
      </div>
      <% if @posts.any? %>
        <h2>Posts</h2>
        <ul class="list-unstyled pl-0", id="posts">
          <%= render @posts %>
        </ul>
         <%= link_to 'Load more', user_path(id: @user.id, posts_page: @posts.next_page),
            remote: true, id: "post-pagination-link",
            class:"btn btn-primary mb-5",style: "width:100%;" %>
      <% end %>
    </div>
  </div>
</div>


