<div class="row justify-content-center">
  <div class="col-md-6">
    <% if @sent_requests.any?  %>
      <h2>Sent friend requests</h2>
      <ul class="list-unstyled">
        <% @sent_requests.each do |request| %>
          <li class="list-item mb-3 d-flex justify-content-between align-items-center">
            <div>
              <span class="mr-3"><%= gravatar_for request.receiver %></span>
              <%= link_to get_full_name_for(request.receiver), request.receiver %>
            </div>
            <div class="friend_request-links", id="friend_request-<%= request.receiver.id %>-links">
              <%= render 'friend_requests/cancel_link', resource: request %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @received_requests.any?  %>
      <h2>New friend requests</h2>
      <ul class="list-unstyled">
        <% @received_requests.pending.each do |request| %>
          <li class="list-item mb-3 d-flex justify-content-between align-items-center">
            <div>
              <span class="mr-3"><%= gravatar_for request.sender %></span>
              <%= link_to get_full_name_for(request.sender), request.sender %>
            </div>
            <div class="friend_request-links", id="friend_request-<%= request.sender.id %>-links">
              <%= render 'friend_requests/accept_link', resource: request %>
              <%= render 'friend_requests/decline_link', resource: request %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
</div>
