<div class="row justify-content-center">
  <div class="col-md-6">
    <% if @sent_requests.any?  %>
      <h4>Sent Friend Requests</h4>
      <ul class="list-group">
        <% @sent_requests.each do |request| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <span class="mr-3"><%= profile_photo_for(request.receiver, options: { circle: true}) %></span>
              <%= link_to get_full_name_for(request.receiver), request.receiver %>
            </div>
            <div class="friend_request-links", id="friend_request-<%= request.receiver.id %>-links">
              <%= render 'friend_requests/links/cancel_link', resource: request %>
            </div>
          </li>
        <% end %>
      </>
    <% end %>

    <% if @received_requests.any?  %>
      <h4>Accepted Friend Requests</h4>
      <ul class="list-group">
        <% @received_requests.pending.each do |request| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <span class="mr-3"><%= profile_photo_for(request.sender, options: { circle: true }) %></span>
              <%= link_to get_full_name_for(request.sender), request.sender %>
            </div>
            <div class="friend_request-links", id="friend_request-<%= request.sender.id %>-links">
              <%= render 'friend_requests/links/accept_link', resource: request %>
              <%= render 'friend_requests/links/decline_link', resource: request %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
</div>
