<li class="card bg-light mb-3">
  <div class="card-body">
    <h5 class="mb-0">
      <%= link_to get_full_name_for(post.user), post.user %>
    </h5>
    <small class="text-muted mb-2 d-block">
      posted <%= time_ago_in_words post.created_at %> ago
    </small>
    <p><%= post.content %></p>
    <%= image_tag post.photo.url, class: "card-img-bottom" if post.photo? %>
    <hr>

    <div class="d-flex justify-content-between">
      <div class="post-meta">
        <small class="text-muted">
          Comments(<span id="post-<%= post.id %>-comments-counter"><%= post.comments.count %></span>)
        </small>
        <small class="text-muted">
          Likes(<span id="post-<%= post.id %>-likes-counter"><%= post.likes.count %></span>)
        </small>
      </div>
      <div class="post-like", id="post-<%= post.id %>-like-form">
        <%= render "likes/form", resource: post %>
      </div>
    </div>

    <div class="commets-section ml-5">
      <h5>Comments:</h5>
      <ul class="list-group list-group-flush", id="post-<%= post.id %>-comments">
        <% if post.comments.any? %>
          <%= render post.comments %>
        <% end %>
      </ul>
      <%= render "comments/form", resource: post %>
    </div>
  </div>
</li>
