<li class="card mb-3">
  <div class="card-body">
    <h5>
      <%= link_to get_full_name_for(post.user), post.user %>
    </h5>
    <%= post.content %>
    <hr>
    <small class="text-muted">Posted: <%= post.created_at.strftime("%m/%d/%Y") %></small>
    <small class="text-muted">
      <%= link_to "Comments(#{post.comments.count})", post %>
    </small>
    <small class="text-muted">
      Likes(<%= post.likes.count %>)
    </small>
    <% if current_user.liked_post? post %>
      <%= render "shared/remove_like" %>
    <% else %>
      <%= render 'shared/like', post: post %>
    <% end %>
  </div>
</li>