<li class="card bg-light mb-3">
  <div class="card-body">
    <h5 class="mb-0">
      <%= link_to get_full_name_for(post.user), post.user %>
    </h5>
    <small class="text-muted mb-2 d-block">
      posted <%= time_ago_in_words post.created_at %> ago
    </small>
    <p><%= post.content %></p>
    <hr>

    <div class="d-flex justify-content-between">
      <div class="post-meta">
        <small class="text-muted">
          Comments(<%= post.comments.count %>)
        </small>
        <small class="text-muted">
          Likes(<%= post.likes.count %>)
        </small>
      </div>
      <div class="post-like">
        <%= render "shared/like_form", resource: post %>
      </div>
    </div>

    <div class="commets-section ml-5">
      <% if post.comments.any? %>
      <hr>
        <h5>Comments:</h5>
        <div class="comments">
          <ul class="list-group list-group-flush">
            <%= render post.comments %>
          </ul>
        </div>
      <% end %>
      <hr>
      <%= form_for current_user.comments.build do |f| %>
        <%= f.hidden_field :post_id, value: post.id %>
        <div class="form-group">
          <%= f.label :content, "Add your comment:" %>
          <%= f.text_area :content, class: "form-control" %>
        </div>
        <%= f.submit "Add comment", class: "btn btn-secondary" %>
      <% end %>
    </div>

  </div>
</li>
