<!DOCTYPE html>
<html>
  <head>
    <title>Facebook Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/header' %>
    <% else %>
      <%= render 'layouts/header_unauthorized' %>
    <% end %>
    <div class="container">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
