<!DOCTYPE html>
<html>
  <head>
    <title>Facebook Clone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/header' %>
    <% else %>
      <%= render 'layouts/header_unauthorized' %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>